
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    background-image: url("../assets/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.enemy--canvas {
    margin-bottom: 30px;
}

.player--canvas, .enemy--canvas {
    background-color: rgba(0, 0, 0, 0.24);
    border: 2px solid white;
    backdrop-filter: blur(2px);

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;


}

.cards img {
    width: 100px;
}

.cards {
    z-index: 1000;
    position: relative;
}

.first--card {
    flex-basis: 100%;
    display: flex;
    justify-content: center;

}

.modal {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    border-radius: 19px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    color: white;
    z-index: 10000;
}

.non_op {
    transition: 0.5s;
    opacity: 0;


}


.turn {

    filter: drop-shadow(2px 3px 0 hsl(300deg 100% 50%)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));

    mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100%/250% 250%;
    animation: flareAnimation 1.7s infinite;
    transition: 0.4s;


}

.xp {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: red;
    left: 30px;
}

@keyframes flareAnimation {
    0% {
        mask-position: 100% 100%;
    }
    100% {
        mask-position: 0 0;
    }
}


.cardHover:hover {
    cursor: pointer;
    transition: 0.2s;
    filter: drop-shadow(2px 3px 0 hsl(346, 100%, 58%)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.attack_choose--modal {
    font-family: "Open Sans", sans-serif;

    border-radius: 19px;
    background-color: rgba(0, 0, 0, 0.7);

    min-width: 200px;

    justify-content: center;
    color: white;
    z-index: 10000;

    outline: none;

    height: 432px;
    padding: 25px 30px;
    flex-direction: column;

    align-items: center;
    gap: 30px;
    flex-shrink: 0;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 70%);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

.attack_choose_button {
    outline: none;
    border: none;
}

.attack_choose_button {
    color: black;
    display: flex;
    height: 70px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #FFF;

    width: 250px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.magicAttack {
    animation: magic 2s linear;
}

.sword_attack {
    position: absolute;

    transform: rotate(45deg);

    z-index: -1;
    animation: sword 2s linear;
    top: -80px;
    left: 100px;

}

.long_attack {
    position: absolute;

    transform: rotate(-145deg);
    z-index: 10000;
    top: 220px;
    left: 0;

}

.arrow {
    position: absolute;

    transform: rotate(73deg);
    left: 0;
    z-index: 10000;
    top: 220px;
    animation: bow 1s linear;

}

@keyframes sword {
    0% {
        top: -80px;
        left: 100px;

    }
    50% {

        top: -40px;
        left: 0;
    }
    100% {

        top: -80px;
        left: 100px;
    }
}

@keyframes magic {
    0% {
        filter: hue-rotate(0deg);

    }
    30% {

        filter: hue-rotate(70deg);
    }
    40% {
        filter: hue-rotate(140deg);
    }
    70% {
        filter: hue-rotate(220deg);
    }
    90% {
        filter: hue-rotate(300deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }

}

.dead {
    filter: grayscale(100%);
    transition: 0.6s;
}

@keyframes bow {
    0% {
        left: 0;

        top: 220px;

    }
    100% {

        left: 0;

        top: 40px;
    }

}


.attack_choose_button img {
    width: 38px;
}

.disabled {
    display: none;
}
